.Photography-title {
    color: #393431;
    margin-bottom: 10px;
    margin-top: 30px;
}

.Gallery-Photography {
    margin: auto;
    padding: auto;
    height: 800px;
    width: 90%;
    overflow-y: scroll;
}

.Aerial-Photo {
    display: flex;
    margin: auto;
    overflow-x: auto;
    width: 80%;
    white-space: nowrap;
    padding: 20px;
}

.Video-Photo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

}
